/* Q1 */
.black,
.blue,
.red,
.green {
    width: 100px;
    height: 100px;
}

.black {
    position: absolute;
    background-color: black;
    top: 40px;
    left: 20px;
    z-index: 1;
}

.blue {
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: blue;
    z-index: 2;
}

.green {
    background-color: green;
    position: absolute;
    top: 40px;
    left: 30px;
    z-index: 3;
}

.red {
    background-color: red;
    position: absolute;
    z-index: 4;
    top: 50px;
    left: 40px;
}

/* Q2 */
.q2 {
    background-color: antiquewhite;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    padding: 10px;
    position: relative;
}

.top-left {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: blue;
    width: 20px;
    color: white;
    text-align: center;
    border-right: 2px solid red;
}

.bottom-left {
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: blue;
    width: 20px;
    color: white;
    text-align: center;
    border-right: 2px solid red;
}

.top-right {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: blue;
    width: 20px;
    color: white;
    text-align: center;
    border-left: 2px solid red;
}

.bottom-right {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: blue;
    width: 20px;
    color: white;
    text-align: center;
    border-left: 2px solid red;
}

/* Q3 */

.main-ul {
    width: 400px;
}

ul {
    list-style-type: none;
}

li {
    background-color: #eee;
}

.li {
    margin: 20px;
}

.html,
.css,
.js {
    padding: 10px;
}

.X {
    list-style-type: upper-roman;
}

.item {
    background-color: #fff;
    margin: 10px;
    padding: 5px;
}

.circle {
    list-style-type: circle;
}

/* Q4 */
span {
    text-transform: capitalize;
}

table,
th,
td {
    border: 2px soild white;
}

td {
    background-color: #eee;

}

table {
    width: 700px;
    text-align: center;
    margin: auto;
}

thead {
    background-color: black;
    color: white;

}

.view {
    background-color: #09c;
    color: white;
    border-width: 0;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.delete {
    background-color: rgb(204, 58, 0);
    color: white;
    border-width: 0;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}